[MASTER]
load-plugins=pylint_django
django-settings-module=medhelper.settings
init-hook='import sys; sys.path.insert(0, "src")'
ignore=migrations,.venv

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods

[FORMAT]
max-line-length=100

[DESIGN]
max-args=8
